body {
    background-color: #0e7e12;
}

.card {
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
}

#palo1{
    font-size: 90px;
    margin-left: 20px;
}

.numero{
    height: 300px;
    margin: auto;
    font-size: 150px;
} 

#palo2{
    height: 80px;
    width: 60px;
    font-size: 90px;
    margin-left: 270px;
    transform: rotate(180deg);
}